.container {
    margin: 0 auto;
    padding: 0;
    width: 1100px;
    text-align: center;
}

.main-part {
    display: flex;
}

.profile {
    width: 300px;
    text-align: left;
}

.profile-pic {
    width: 200px;
    border-radius: 50%;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 20px;
}

.profile-info {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom: 2px solid #e0e0e0;
}

a {
text-decoration: none;
color: black;
}

a:hover {
    color:blue;
}

.experience {
    margin-left: 150px;
    text-align: left;
    width: 100%;
}

.exper-name {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom: 2px solid #e0e0e0;
    display: block;
}

.exper-title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 10px;
}

.bold {
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 5px;
}

.exper-place {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.exper-min-block:last-child {
    margin-bottom: 50px;
}